<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form</title>
</head>
<body>
	<form>
		<label for="fname">First name:</label><br>
		<input type="text" id="fname" name="fname"><br>
		<label for="lname">Last name:</label><br>
		<input type="text" id="lname" name="lname"><br>
		<label for="age">Your age:</label><br>
		<input type="text" id="age" name="age"><br>
		<input type="submit" value="Validar">
	</form>
	<%
		array=[[42, "Ferran", "Ulldemolins"], [5, "David", "Garcia"], [90, "Gonzalo", "Lopez"]]
		array.push([servlet_request.query["age"].to_i, servlet_request.query["fname"] , servlet_request.query["lname"]])
		array = array.sort
	%>
	<p>Hola 
		<%= servlet_request.query["fname"] %>, tienes más edad que 
		<%=
			age = servlet_request.query["age"].to_i
			i = 0
			while age > array[i][0]
				i += 1
				break if i == 3
			end
			i
		%>
		personas y menos edad que 
		<%=
			i = array.length - 1
			y = 0
			while age < array[i][0]
				i -= 1
				y += 1
				break if i == -1
			end
			y
		%>
		personas.
	</p>
</body>
</html>