<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>Logins</h1>
	<p>
		<%=
			file = File.open("/Users/fulldemo/Documents/42Curs/Discovery_pPiscine/web04/ex01/text.txt")
			file_data = file.read
			file.close
			file_data
		%>
	</p>
</body>
</html>