<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h2>Formulario</h2>
	<form>
		<label for="fname">First name:</label><br>
		<input type="text" id="fname" name="fname"><br>
		<label for="lname">Last name:</label><br>
		<input type="text" id="lname" name="lname"><br>
		<input type="submit" value="Validar">
	</form>
	<%
		if servlet_request.query["fname"] != nil
			File.open("/Users/fulldemo/Documents/42Curs/Discovery_pPiscine/web04/ex02/logs.txt", "a") { |f| f.write "#{Time.now} - #{servlet_request.query["fname"]} #{servlet_request.query["lname"]} logged in\n" }
		end
	%>
</body>
</html>