<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>LORE IPSUM</h1>
	<%=
		file = File.open("/Users/fulldemo/Documents/42Curs/Discovery_pPiscine/web04/ex00/text.txt")
		file_data = file.read
		file.close
		"<p>
			#{file_data}
		</p>"
	%>
</body>
</html>